<ion-header>
  <ion-toolbar>
    <ion-title>{{ hero.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="flex flex-col items-center">
    <img [src]="hero.image" [alt]="hero.name" class="rounded-lg shadow-lg max-h-[70vh]">
    <h2 class="text-xl font-bold mt-4 dark-accent">{{ hero.name }}</h2>
    <p class="dark-secondary-text">{{ hero.power }}</p>
  </div>
</ion-content>