<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" fill="clear" class="dark-accent">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        Atrás
      </ion-button>
    </ion-buttons>
    <ion-title>Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="max-w-2xl mx-auto">
    <div class="mt-8">
      <h2 class="text-xl font-semibold mb-4 dark-text">¡SOMOS GENTE QUE TRIUNFA, SOMOS UPCA!</h2>
      <p class="dark-secondary-text mb-4">
        Somos un equipo apasionado por crear soluciones tecnológicas innovadoras
        que hacen la diferencia en la vida de las personas.
      </p>
    </div>
  </div>
</ion-content>